# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
dist/
*.egg-info/
.eggs/

# Django stuff:
*.log
staticfiles/
*.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyInstaller
*.manifest
*.spec

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
env/
.venv/

# poetry
poetry.lock

# vscode
.vscode/

# IntelliJ IDEA
.idea/

# macOS files
.DS_Store

# System files
Thumbs.db
desktop.ini
